{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container col-sm-4 mt-5 d-flex justify-content-center align-items-center">
        <div class="card-body text-white rounded-pill border border-light">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mt-2 mb-2">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a class="" href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>
            {% endif %}
        </div>

    </div>

    <div class="container col-sm-4 d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="card-body text-white rounded-7 mt-2 mb-2 border border-light">
            <div class="form-group row">
                <h1 class="h2 mt-3 font-weight-normal "></h1>
                <p>Vous n'avez pas encore de compte ? <br> <a class="" href="{{ path('app_register') }}">Inscrivez-Vous</a> </p>
                <form method="post" class="center-card">

                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-50" autocomplete="email" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control w-50" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="button btn-custom mt-3 mb-3">Se connecter</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
