@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

body {
    color: white;
    padding-top: 5rem;
    min-height: 100vh;
    background-size: cover;
    background: url('image/bgredspace.png') repeat center;

}
/*Navbar*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(25px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar-css a {
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.navbar-css i {
    /*font-size: 25px;*/
}

/*FOOTER*/
/*.social-icons  {*/
/*    position: fixed;*/
/*    padding: 10px 10px 10px 10px;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    !* Height of the footer*!*/
/*    height: 55px;*/
/*    background: rgba(0, 0, 0, .1);*/
/*    backdrop-filter: blur(25px);*/
/*}*/

/*.social-icons .bx {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*    font-size: 20px;*/
/*    color: #ffffff;*/
/*    margin-right: 15px;*/
/*    cursor: pointer;*/
/*}*/

.footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(25px);
}
.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 30px;
}
.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}
.footer-col .links {
    margin-top: 20px;
}
.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}
.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}
.footer-col .links li a:hover {
    color: #fff;
}
.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}
.footer-col form {
    display: flex;
    gap: 5px;
}
.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}
.footer-col input::placeholder {
    color: #ccc;
}
.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}
.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.footer-col .icons i {
    color: #afb6c7;
}
.footer-col .icons i:hover  {
    color: #fff;
}

@media (max-width: 1400px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }
    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }
    .footer-col form {
        display: block;
    }
    .footer-col form :where(input, button) {
        width: 100%;
    }
    .footer-col form button {
        margin: 10px 0 0 0;
    }
}
/*CARD*/
.card-body {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    backdrop-filter: blur(5px);
    text-align: center !important;
}

.card-title {
    padding-top: 1rem;
}

img {
    border-radius: 5px 5px 0 0;
}

.form-style {
    color:  #FAF9F6;
}
/*Button*/
.button {
    position: relative;
    padding: 6px 22px;
    background: #FAF9F6 !important;
    border-radius: 6px;
    color: #4A0404;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.btn-custom:hover {
    color: #E97451;
    transition: color .3s;
}

.button:active {
    transform: scale(0.96);
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    z-index: -1;
    background-repeat: no-repeat;
}

.button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #E97451 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #191970 20%, transparent 30%),
    radial-gradient(circle, #E97451 20%, transparent 20%),
    radial-gradient(circle, transparent 15%, #191970 15%, transparent 20%),
    radial-gradient(circle, #E97451 20%, transparent 20%),
    radial-gradient(circle, #191970 20%, transparent 20%),
    radial-gradient(circle, #E97451 20%, transparent 20%),
    radial-gradient(circle, #191970 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%,15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out infinite;
}
@keyframes topBubbles {
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button.animate::after {
    bottom: -70%;
    background-image:     radial-gradient(circle, #191970 20%, transparent 20%),
    radial-gradient(circle, transparent 15%, #E97451 15%, transparent 20%),
    radial-gradient(circle, #191970 20%, transparent 20%),
    radial-gradient(circle, #E97451 20%, transparent 20%),
    radial-gradient(circle, #191970 20%, transparent 20%),
    radial-gradient(circle, #E97451 20%, transparent 20%),
    radial-gradient(circle, #191970 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
    animation: bottomBubbles 0.6s ease-in-out infinite;
}
@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 0%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/*BREAKPOINTS*/
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {

    body {
        /*background: #924051 !important;*/
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar-css {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(25px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .2s ease;
    }

    #check:checked~.navbar-css {
        height: 18rem;
    }

    .navbar-css a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar-css a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

